/* Overal body style */
* {
    box-sizing: border-box;
    padding: 0;
  }
html{
    font-size: 62.5%;
}
body{
    margin: 0;
    min-height: 100vh;
}
p{
    font-size: 1.6rem;
}
h3{
    font-size: 1.6rem;
}
.wrapper{
  width: 98%;
  margin: 0 auto;  
}
/* Overal header style */
.report_header{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 20em;
}
.report_header_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
}
#financial-year {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.6rem;
}
.report_btn{
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

/* Overal main style */
.report_main{
    margin-top: 5px;
}
.summary_cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.6rem;
}
.card{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    box-shadow: inset -1px -1px 3px  gray;
}
.graph_container{
    /* display: flex; */
    /* position: relative;
    right: 1.7rem; */
    
    width: 80%;
    margin: 0 auto;
}
.graphs{
    display: flex;
    /* align-items: center; */
    /* justify-content:space-between; */
    /* gap:5px; */
    gap: 35em;
    flex-wrap: wrap;
    /* width: 70%; */
}
.detailed_report{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: .3em;
}
.detailed_report>div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    min-width:100%;
    padding: .3em;
    font-size: 1.6rem;
    /* border-collapse: collapse; */
    /* cellspacing: 1em; */
}
th, td{
    padding:.5em;
}
.align_right{
    text-align: right;
}
/* .col_span{
    colspan: 2;
} */

/* Overal footer style */